
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Bootstrap-switches
//@import './Bootstrap-switches';


html, body {
 	height: 100vh;
	font-family: 'Open Sans', sans-serif;
}



.title-app{
	font-family: 'Lobster', cursive;
}

.btn i{
	padding-right: 5px;
}

.btn-icon i{
	padding-right: 0px !important;
}
.imput-error{
	border-color: #dc3545;
}

.toggle-handle{
	background-color: #fff;
}

.title-icon i {
	padding-right: 5px;
}

//inputs

.error-text{
	margin-bottom: 0rem;
	color:red;
}

.home{
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-color: $color-twitter;
	background-size: cover;
	height: 100vh;
	padding-top: 20vh;
}

.navbar-color{
    background-color: $color-1 !important;
}

@media screen and (max-width: 500px) {
	.home{
		padding-top: 5vh;
	}
	.section-user , .tendencias{
		display: none;
	}
	.dashboar {
	    padding-top: 12% !important;
	}	
}