<template>
	<form  @submit.prevent="authenticate">
	<div class="form-group">
		<input type="email" v-model="form.email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div>
	<div class="form-group">
		<input type="password" v-model="form.password" class="form-control" placeholder="Password">
	</div>
	<button type="submit" class="btn btn-success btn-lg btn-block">Sign In</button>
	</form>	
</template>

<script>
    
    import { messageErrorToast , wellcomeUserToast } from '../../helpers/message'

	export default{
		name: 'formLogin',
		data(){
			return{
				form: {
                    email: '',
                    password: ''
                },
                error: null
			}
		},
        methods: {
            authenticate() {
                this.$store.dispatch('login',{
                    email: this.$data.form.email,
                    password: this.$data.form.password
                })
                .then((response)=>{
                    this.$store.commit('login')
                    this.$store.commit('loginSuccess', response)
                    this.$router.push({path: '/home'})
                    wellcomeUserToast(response.user.name)
                })
                .catch((error)=>{
                    this.$store.commit('loginFailed')
                    messageErrorToast(error)
                })

            }           
        }		
	}
</script>

<style scoped>
	
</style>