<template>
	<div class="card">
		<template v-if="message.image">
			<img :src="message.image" class="card-img-top" alt="img">
		</template>
		<div class="card-body">
			<h5>{{ message.user }} <small class="created-date">{{ message.created_at }}</small></h5>
			<p class="card-text">{{ message.content }}</p>
		</div>
		<div class="card-footer-cumstom">
			<i class="far fa-comments"></i>
			<i class="fas fa-retweet"></i>
			<i class="far fa-heart"></i>
		</div>
	</div>	
</template>

<script>
	export default{
		name: 'message',
		props:{ 
			message:{
				type: Object , required: true
			}  
		}	
	}	
</script>

<style scoped>
	.card-footer-cumstom{
    	border: 1px solid rgba(0, 0, 0, 0.125);
    	padding: 10px 20px 10px 20px;
	}
	.card img{
		height: 200px;
		width: 100%;
	}
	h5{
		margin-bottom: 0px;
	}
	.created-date{
		font-size: 60%;
    	color: #676767;
	}
</style>