<template>
	<form @submit.prevent="createMessage">
		<div class="form-row align-items-center">
			<div class="col">
				<input type="text" id="content" name="content" class="form-control mb-2" :class="errors && errors.content ? 'imput-error' : '' "  v-model="formNewMessage.content" placeholder="Que estas pensando?...">
			</div>

			<template v-if="errors">
				<ul class="list-unstyled">
					<li v-for="msj in errors.content" class="error" >
						<p class="error-text"><small>{{ msj }}</small></p> 
					</li>
				</ul>
			</template> 
		</div>
	</form>
</template>

<script>
    import validate from 'validate.js'
    import { messageSuccessToast , messageErrorToast } from '../../helpers/message'


	export default{
		name: 'new-message',
		data(){
			return {
				formNewMessage: {
					content: '',
					user_id: ''
				},
				errors: null
			}
		},
		computed:{

		},		
		methods:{
			createMessage(){
				this.errors = null;
				this.$data.formNewMessage.user_id = this.$store.getters.getCurrentUser.id

				const constraints = this.getConstraints();
				const errorsValidation = validate(this.$data.formNewMessage, constraints);
				if(errorsValidation) {
				    this.errors = errorsValidation
				    return
				}
                this.$store.dispatch('createMessage', this.$data.formNewMessage)
                .then((response)=>{
                    messageSuccessToast(response)
                	this.clearImput()
                })
                .catch((error)=>{
                    messageErrorToast(error)
                	this.clearImput()


                })
			},
	        getConstraints() {
	            return {
	                content: {
	                   presence: {
	                        allowEmpty: false,
	                        message: "is required"
	                    },
	                    length: {
	                        maximum: 129,
	                        message: 'is too long, accepts up to 129 characters'
	                    }	                    	     
	                }
	        	}
	    	},
	    	clearImput(){
	    		$('#content').val('')
	    	}	
		}
	}	
</script>

<style>
	form{
	margin-bottom: 10px;
	}
</style>