<template>
	<div class="row dashboar">
		<div class="col-md-3  section-user">
			<div class=" card card-body">
				<div class="col-md-12 portada">
					
					
				</div>
				<div class="row info-user">
					<div class="col-md-4">
						<img :src="getCurrentUser.avatar"  class="" data-toggle="tooltip" data-placement="bottom" :title="getCurrentUser.name">
					</div>
					<div class="col-md-8 info-user-datos">
						<h5>{{ getCurrentUser.name }}</h5>
						<h6>@{{ getCurrentUser.username }}</h6>
					</div>
				</div>
			</div>			
		</div>

		<div class="col-md-6 col-sm-12">
			<div class="card card-body">
				<div class="cabecera col-md-12">				
					<NewMessage /> <!-- componente para crear un nuevo mensaje -->
				</div>
				<div class="col-md-12">
					<template v-if="!getMessages.length">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">No Tienes ningun mensaje <i class="far fa-frown"></i></h5>
								<p class="card-text">puedes publicar tus propios mensajes o agregar a tus amigos para ver sus mensajes</p>
							</div>
						</div>					
					</template>
					<template v-else>
						<div v-for="m in getMessages">
							<Message  :message="m" /><!-- componente para listar las tareas -->
						</div>
					</template>
				</div>
			</div>			
		</div>


		<div class="col-md-3 tendencias">
			<div class=" card card-body">
				<div class="col-md-12">
					<h2 class="card-title title-app">Tendencias</h2>
				</div>
			</div>			
		</div>
	</div>
</template>

<script>

	import Message from '../message/message.vue'
	import NewMessage from '../message/new.vue'
	import { mapGetters } from 'vuex'
	
	export default{
		name: 'dashboar',
		computed:{
			...mapGetters([
					'getCurrentUser',
					'getMessages'
				])
		},
		components: { 
			  Message , NewMessage 
		},
		mounted(){
            this.$store.dispatch('getMessages')
        },
		updated(){
            this.$store.dispatch('getMessages')
        },  		
	}
</script>
<style scodep>
	.dashboar{
		padding-top: 7%;
	}
    h2.card-title{
        display: inline-block;
    }
    .card{
    	margin-bottom: 5vh;
    }
    .portada{
	    background-color: blue;    	
	    height: 130px;
    }
	.info-user div img{
		border-radius: 40px;
		border: 2px solid #fff;
		height: 70px;
		margin: -25px 15px;
	}
	.info-user-datos{
		padding:15px;
	}
	.info-user-datos h5{
		margin-bottom: 3px;
	}
	.info-user-datos h6{
		color: #6b6b6b;
		font-size: 0.9rem;
	}	    	
</style>