<template>
	<div class="home row">
		<div class="col-md-4 offset-md-1 section-a">
			<h1 class="title-app">Welcome to Laratter</h1>

			<h3><i class="fab fa-laravel"></i>backend with Laravel.</h3>
			<h3><i class="fab fa-vuejs"></i>Frontend with Vue</h3>
			<h3><i class="fas fa-rocket"></i>Thanks to Platzi.</h3>
		</div>
		<div class="col-md-4 offset-md-1">
			<div class="card">
				<div class="card-body">
					<div class="list-group" id="myList" role="tablist">
						<ul class="nav nav-tabs">
							<li class="nav-item">
								  <a class="list-group-item list-group-item-action active" data-toggle="list" href="#login" role="tab">Sign In</a>
							</li>
							<li class="nav-item">
								<a class="list-group-item list-group-item-action" data-toggle="list" href="#register" role="tab">Register</a>
							</li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane active" id="login" role="tabpanel">
							<formLogin /> 	
						</div>
						<div class="tab-pane" id="register" role="tabpanel">
							<formRegister /> 
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import formLogin from '../auth/login.vue'
	import formRegister from '../auth/register.vue'

    export default {
        name: 'home',
        components: { formLogin , formRegister }
    }
</script>
<style scoped>
	h1{
		margin-bottom: 15%;
	}	
	h3{
		font-size: 1.25rem;
    	margin-bottom: 10%;
	}
	h3 i {
		font-size: 1.99rem;
		padding-right: 30px;
	}
	.small{
		font-size: 15px;
	}
	.section-a{
		color: #fff;
	}
    .list-group-item{
    	border-radius: 0; 	
    }
    .list-group-item.active{
	    border-color: #112f41;
	    background-color: #112f41;
    }
    .tab-content{
    	margin-top: 15px;
    }
    .home{
        padding-top: 25vh;
    }    

</style>